@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(234, 243, 240);
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

header {
    background-color: #bdb998;
    border-bottom: 5px solid rgb(0, 156, 156);
    border-radius: 0 0 10px 10px;
}

header section {
    padding: 0 20px;
}

header section h2 {
    padding: 0;
    font-variant: small-caps;
    color: #1b1b1b;
}

main {
    text-align: center;
}

.question {
    width: 70%;
    margin: 5rem 15% 1rem;
    padding: 10px;
    font-size: 1.7rem;
    font-weight: normal;
    display: none;
}

.answer-button {
    min-width: 50%;
    max-width: 50%;
    display: block;
    margin: 1rem auto 1rem 15%;
    padding: 1.4rem;
    background-color: rgb(124, 124, 238);
    border-radius: 15px;
    text-align: left;
    font-size: 1.6rem;
    font-weight: normal;
}

#button-1,
#button-2,
#button-3,
#button-4 {
    display: none;
}